@model IEnumerable<Tele_Health.Models.DOCTOR_SCHEDULE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DOCTOR_tbl.DOCTOR_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL_APPOINTMENTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DAY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DOCTOR_tbl.DOCTOR_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL_APPOINTMENTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DAY)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SCHEDULE_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SCHEDULE_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SCHEDULE_ID })
        </td>
    </tr>
}

</table>
