@model IEnumerable<Tele_Health.Models.DOCTOR_tbl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DEPARTMENT_tbl.DEPARTMENT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOSPITAL_tbl.HOSPITAL_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOCTOR_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOCTOR_CNIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOCTOR_EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOCTOR_PASSWORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOCTOR_ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOCTOR_SPECIFICATION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTMENT_tbl.DEPARTMENT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOSPITAL_tbl.HOSPITAL_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOCTOR_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOCTOR_CNIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOCTOR_EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOCTOR_PASSWORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOCTOR_ADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOCTOR_SPECIFICATION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DOCTOR_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DOCTOR_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DOCTOR_ID })
        </td>
    </tr>
}

</table>
