@model Tele_Health.Models.HOSPITAL_tbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HOSPITAL_tbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HOSPITAL_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOSPITAL_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOSPITAL_ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOSPITAL_ADDRESS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HOSPITAL_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
